<nav class="navbar navbar-default navbar-static-top" :class="{'navbar-inverse':isTeacher}">
    <div class="container">
        <div class="navbar-header">

            <!-- Collapsed Hamburger -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Branding Image -->
            <router-link :to="{name: brandRouteName}" class="navbar-brand">SONEdu</router-link>
        </div>

        <div class="collapse navbar-collapse" id="app-navbar-collapse">
            <!-- Left Side Of Navbar -->
            <ul class="nav navbar-nav">
                <li v-for="menu in menus">
                    <router-link :to="{name: menu.routeName}">{{menu.name}}</router-link>
                </li>
            </ul>

            <!-- Right Side Of Navbar -->
            <ul class="nav navbar-nav navbar-right">
                <!-- Authentication Links -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        {{username}} <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                        <logout></logout>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>